{% extends 'base.html' %}
{% block content %}
  <!-- about section -->

  <section class="about_section  layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            {% for i in client_list %}
              <img src="{{ i.img.url }}" alt="">
            {% endfor %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                МЫ ПРЕДЛАГАЕМ ВАС
              </h2>
            </div>
            <p>Интересные проекты, возможность самостоятельно выстраивать график работы и перспективу карьерного роста.</p>
              

            <p>Вы сами регулируете свой заработок, а также получаете стабильные выплаты, бонусы и дополнительное обучение.</p>

            <p>С вами желание работать и грамотная речь, а с нами - обучение и мудрые наставники, готовые помочь в любой ситуации.</p>
            <p>► Уникальные проекты, гибкий график и перспективы карьерного роста – это только начало.</p>

            <p>► С нами вы контролируете свой заработок. Получайте стабильные выплаты, бонусы и обучение.</p>
            <p>► Работайте всего 6 часов в день и получайте зарплату от 110000 ДРАММ</p>

            
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
{% endblock %}